.ui-paginator-page {
    font-weight: bold;
    text-shadow: none !important;
    box-shadow: none !important;
    background: #fff !important;
    background-clip: border-box;
    border: 1px solid rgba(0, 40, 100, 0.35) !important;
    border-radius: 3px !important;
    color: #000;
}

 .ui-paginator-page:hover {
    font-weight: bold;
    text-shadow: none !important;
    box-shadow: none !important;
    background: #797979 !important;
    background-clip: border-box;
    border: 1px solid rgba(0, 40, 100, 0.35) !important;
    border-radius: 3px !important;
    color: #000;
}

 .ui-state-active, .ui-paginator-page .ui-state-active {
    color: #000;
    background:  #dddfe2 !important;
    font-weight: bold;
    text-shadow: none !important;
    box-shadow: none !important;
    border: 1px solid rgba(0, 40, 100, 0.35) !important;
}

 .ui-paginator-first{
    font-weight: bold;
    text-shadow: none !important;
    box-shadow: none !important;
    background: #fff !important;
    background-clip: border-box;
    border: 1px solid rgba(0, 40, 100, 0.35) !important;
    border-radius: 3px !important;
    color: #000;
}
 .ui-paginator-first:hover {
    font-weight: bold;
    text-shadow: none !important;
    box-shadow: none !important;
    background: #f5f7fb !important;
    background-clip: border-box;
    border: 1px solid rgba(0, 40, 100, 0.35) !important;
    border-radius: 3px !important;
    color: #000;
}
 .ui-paginator-next{
    font-weight: bold;
    text-shadow: none !important;
    box-shadow: none !important;
    background: #fff !important;
    background-clip: border-box;
    border: 1px solid rgba(0, 40, 100, 0.35) !important;
    border-radius: 3px !important;
    color: #000;
}
.ui-paginator-next:hover {
    font-weight: bold;
    text-shadow: none !important;
    box-shadow: none !important;
    background: #f5f7fb !important;
    background-clip: border-box;
    border: 1px solid rgba(0, 40, 100, 0.35) !important;
    border-radius: 3px !important;
    color: #000;
}
 .ui-paginator-prev{
    font-weight: bold;
    text-shadow: none !important;
    box-shadow: none !important;
    background: #fff !important;
    background-clip: border-box;
    border: 1px solid rgba(0, 40, 100, 0.35) !important;
    border-radius: 3px !important;
    color: #000;
}
.ui-paginator-prev:hover {
    font-weight: bold;
    text-shadow: none !important;
    box-shadow: none !important;
    background: #f5f7fb !important;
    background-clip: border-box;
    border: 1px solid rgba(0, 40, 100, 0.35) !important;
    border-radius: 3px !important;
    color: #000;
}
 .ui-paginator-last{
    font-weight: bold;
    text-shadow: none !important;
    box-shadow: none !important;
    background: #fff !important;
    background-clip: border-box;
    border: 1px solid rgba(0, 40, 100, 0.35) !important;
    border-radius: 3px !important;
    color: #000;
}
.ui-paginator-last:hover {
    font-weight: bold;
    text-shadow: none !important;
    box-shadow: none !important;
    background: #f5f7fb !important;
    background-clip: border-box;
    border: 1px solid rgba(0, 40, 100, 0.35) !important;
    border-radius: 3px !important;
    color: #000;
}

.ui-paginator-rpp-options {
    font-weight: bold;
    text-shadow: none !important;
    box-shadow: none !important;
    background: #fff !important;
    background-clip: border-box;
    border: 1px solid rgba(0, 40, 100, 0.35) !important;
    border-radius: 3px !important;
    color: #000;
    cursor: pointer;
}
.ui-paginator-rpp-options:hover {
    font-weight: bold;
    cursor: pointer;
    text-shadow: none !important;
    box-shadow: none !important;
    background: #f5f7fb !important;
    background-clip: border-box;
    border: 1px solid rgba(0, 40, 100, 0.35) !important;
    border-radius: 3px !important;
    color: #000;
}

.ui-fieldset, .ui-fieldset .ui-fieldset-legend {
    padding: 3px !important;
    border: 1px solid rgba(0, 40, 100, 0.12) !important;
    background: #f8f9fa !important;
    color: #16181b !important;
    box-shadow: none !important;
    text-shadow: none !important;
    font-size: 16px !important;
}

#menu-matricula\:form-matr-final\:accordion\:availableSchedules td {
    border: 1px solid rgba(0, 40, 100, 0.12) !important;
    background: #fff !important;
    color: #16181b !important;
    box-shadow: none !important;
    text-shadow: none !important;
    font-size: 16px !important;
    
}
#menu-matricula\:form-matr-final\:accordion\:availableSchedules th {
    border: 1px solid rgba(0, 40, 100, 0.12) !important;
    background: #fff !important;
    color: #16181b !important;
    box-shadow: none !important;
    text-shadow: none !important;
    font-size: 16px !important;
    
}


#menu-matricula\:form-matr-final\:pickList-schedule .ui-picklist-list {
    width: 470px;
}

#menu-matricula\:form-matr-final\:pickList-schedule .ui-picklist-button-add-all {
	visibility: hidden !important;
}


.card-hidden-prime {
    text-shadow: none !important;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05) !important;
    border-radius: 3px !important;
    box-shadow: none !important;
    background: #fff !important;
    border-left: 3px solid #74D14C !important
}